@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 14px;
}
*{
    margin: 0;
    box-sizing: border-box !important;
    font-family: "Be Vietnam Pro", sans-serif !important;
    padding: 0;
    
}
.btn-primary{
    background-color: #d66030;
    padding: 10px;
    border: 1px solid transparent;
}
.btn-primary:hover{
    background-color: #F9F9F9;
    color: #d66030;
    border: 1px solid #d66030;
}

.btn-secondary{
    background-color: #F9F9F9;
    padding: 10px;
    color: #d66030;
    border: 1px solid #d66030;
}
.btn-secondary:hover{
    background-color: #d66030 ;
    border: 1px solid transparent;
    color: #F9F9F9;
}
.nav-link {
    font-weight: 400;
}
.btn{
    --bs-btn-border-width:none !important;
}

.form-control{
    border: none;
    font-size: 20px;
    background-color:#f3e8e7;
}
label{
    color: #191514;
    font-size: 18px;
}
input{
    color: #94535a !important;
}
::placeholder{
    color: #94535a !important;
}
input[type="submit"]{
    background-color: #d66030;
    color: white !important;
    font-size: 20px;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: white;
    color: #d66030 !important;
    border: 1px solid #d66030;
    width: 100%;
    font-size: 20px;
}
.logo{
    height: 50px;
}
.hero-section{
    min-height: 540px;
    height: 480px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url('../img/pexels-hyundai-motor-group-16466478.jpg');
    background-size: cover;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.main{
    min-height: calc(100vh - 180px) !important;
}
.header{
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1.584px;   
}

.header2{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -1.188px;
}
.header3{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1.188px;
    border-bottom: 1px solid #d66030;
}


.basic{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.naslov{
    display: block;
    height: 50px;
    
}
.naslov p{
    font-weight: 700;
}
.cena{
    display: block;
    height: 50px;
    color: #d66030;
}
.text-primary{
    color: #d66030 !important;
}
.kolona div{
    border-bottom: 1px solid #d66030;
}

.error{
    font-size: 16px;
    line-height: 24px;
    color: rgb(199, 52, 52);
}
.slika {
    max-height:250px;
    max-width: 20vw;
    border-radius: 15px;
}
.poster{
    min-height: 540px;
    background-size: cover;
    background-position: center;
    
}
.text-md-left {
    text-align: left !important;
}
@media (min-width: 576px) {
    .rounded-lg-md {
        border-radius: 0.5rem;
    }
}
@media (max-width: 768px) {
    .text-md-left{
        text-align: center !important;
    }
}

@media (max-width: 992px) {
    .slika{
        max-height:250px;
        max-width: none;
    }
}